---

import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.astro';
import Menu from '../components/navMenu.astro'
import MovieInfo from '../components/movieInfo.astro';

---

<Layout>
<a href="/login">page login</a>


	<header class="fixed bottom-0 w-full">
		<Menu></Menu>
	</header>
	<main class="p-[2px] w-full h-full ">
		<Home></Home>
		<div id="movie-info" class="bg-gray-700 hidden w-full h-screen border grid place-items-center">
			<MovieInfo></MovieInfo>
		</div>
	</main>
</Layout>

<script is:raw type="module" src="../../public/app.js"></script>

