---

import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.astro';
import Menu from '../components/navMenu.astro'
import MovieInfo from '../components/MovieInfo.astro';
---

<Layout>
<a href="/login" class="hidden">page login</a>


	<header class="bg-amber-400 w-full">
		<Menu></Menu>
	</header>
	<main class=" p-[2px] w-full h-full ">
		<div id="home" class="hidden h-full w-full">
			<Home></Home>
		</div>
		
		<div id="modal-info" class=" bg-gray-700 w-full h-screen border grid place-items-center">
			<MovieInfo></MovieInfo>
		</div>
	</main>
</Layout>

<script is:raw type="module" src="../../public/app.js"></script>

