<section class="w-full h-full">
    <div class="w-full h-[15%] border">
        <div class="w-full flex justify-around items-center">
        <label for="buscador" class="text-[2rem]">Buscar</label>
        </div>
        <div id="input-buscador" class="w-full flex justify-center items-center p-[3%]">
            <input type="text" name="buscador" id="buscador" class="w-[95%] h-[7vh] border-rose-50 border rounded-2xl px-[3%]" placeholder="Ingrese nombre, ID o Actor">

        </div>
    </div>
    <section id="box-buscador" class="w-full h-[85%] border p-[2%] grid grid-cols-[repeat(auto-fit,_minmax(150px,_1fr))] gap-4"></section>
</section>