
<section class="w-[630px] bg-[#2702199a] h-full flex flex-col gap-[1vh] overflow-auto">
    <h1 id="title" class="w-full grid place-items-center h-[80px] text-4xl border">Cinefilo</h1>

    <section id="populares" class="w-full h-[50%] border flex justify-center items-center overflow-auto gap-2 ">
        
    </section>
    <section id="generos" class="w-full h-[6%] border flex justify-center items-center ">
        generos
    </section>
    <section id="top" class="w-full h-[30%] border flex justify-center items-center ">
        top
    </section>
    <section id="proximos" class="w-full h-[30%] border flex justify-center items-center ">
        proximos estrenos
    </section>
    
</section>
<div class="w-[630px] border h-[105px] bg-[white] ">
</div>
