
<section id="home" class="w-full bg-[#2702199a] h-full flex flex-col gap-[1vh] overflow-auto">
    <h1 id="title" class="w-full grid place-items-center h-[80px] text-4xl border">Cinefilo</h1>

    <section id="box1" class="w-auto max-w-[639px] h-[50%] flex gap-2 overflow-x-auto">
        <!-- popular -->
    </section>
    <section id="box2" class="w-full max-w-[639px] h-[6%] flex gap-2 overflow-x-auto px-2">
        <!-- generos -->
    </section>
    <section id="box3" class="w-full max-w-[639px] h-[30%] flex gap-2 overflow-x-auto ">
        <!-- top -->
    </section>
    <section id="box4" class="w-full max-w-[639px] h-[30%] flex gap-2 overflow-x-auto">
     <!-- proximos -->
    </section>
    <section id="box5" class="w-full max-w-[639px] h-[30%] flex gap-2 overflow-x-auto ">
        <!-- estrenos -->
    </section>
</section>
<div class="w-full max-w-[639px] border h-[105px] bg-[white] ">
</div>

<style is:raw>

    button{
        background-color: white;
    }
</style>