
<main class="w-full h-full grid place-items-center">
    <form id="login-form" 
            class="flex flex-col justify-center items-center rounded-2xl border w-[80%] h-[50%] gap-3 p-3">
        <picture class="m-[7vh] border">LOGO</picture>
        <label id="l-name" for="nombers" class="hidden">Nombres</label>
        <input type="text" name="nombres" id="name" placeholder="Nombre de usuario"
            class="hidden px-3 border rounded w-[70%]">
        <label for="email">Email</label>
        <input type="text" name="email" id="login-email" placeholder="Ingrese email" 
            class="px-3 border rounded w-[70%]">
        <label for="password">Password</label>
        <input type="password" name="password" id="login-password" placeholder="password" 
            class="px-3 border rounded w-[70%]">
        <button id="btn-form" class="p-[0.7vh_2vh] border rounded-2xl m-8 hover:scale-[1.1]">Login</button>

        <span id="switch">Registrar usuario</span>


        <span id="error" class="text-[red] cursor-pointer"></span>
    </form>

</main>

<style>
    span:hover {
        color: blue
    }
</style>

<script>

    const form = document.getElementById("login-form");
    const btnSwitch = document.getElementById("switch");
    const btn = form?.querySelector("#btn-form");
    const label = form?.querySelector("#l-name");
    const inputName = form?.querySelector("#name");

    let accion = 'login';

    btnSwitch?.addEventListener('click', () => {
        if (accion === "login") {
            label?.classList.remove("hidden");
            inputName?.classList.remove("hidden");
            btn.textContent = "Register";
            accion = "registro";
        } else {
            label?.classList.add("hidden");
            inputName?.classList.add("hidden");
            btn.textContent = "Login";
            accion = "login";
        }
    });

</script>
