
<main class="w-full h-full grid place-items-center">
    <form id="login-form" 
            class="flex flex-col justify-center items-center border w-[50%] h-[50%] gap-3 p-3">
        <picture class="m-[7vh] border">LOGO</picture>
        <label for="email">Email</label>
        <input type="text" name="email" id="login-email" placeholder="Ingrese email" 
            class="px-3 border rounded">
        <label for="password">Password</label>
        <input type="password" name="password" id="login-password" placeholder="password" 
            class="px-3 border rounded">
        <button class="p-[0.7vh_2vh] border rounded-2xl m-8 hover:scale-[1.1]">SING</button>
    </form>
</main>

<script is:raw type="module" src="../../public/app-login.js"></script>