<nav class="w-full border h-[100px] bg-[#9db6db] flex justify-around items-center">
    <a href="#home">
        <div><button>o</button></div>
        home
    </a>
    <a href="#categorias">
        <div><button>o</button></div>
        cate
        gorias</a>
    <a href="#Buscar">
        <div><button>o</button></div>
        Busc
        ar</a>
    <a href="#listas">
        <div><button>o</button></div>
        list
        as</a>
    <a href="#Perfil">
        <div><button>o</button></div>
        Perf
        il</a>
</nav>

<style>
    button{
        width: 30px;
        height: 30px;
        border: solid 1px red;
        border-radius: 100%;
    }
    div{
        display: grid;
        align-items: center;
        justify-content: center;
    }
   
</style>