    <section id="modal-info" class="sm:bg-gray-400 sm:w-full sm:h-screen sm:relative">
        <div id="pick" class="sm:w-full sm:h-full">
        <img id="poster" src="#" alt="poster" class="sm:w-full sm:h-full"/>
        </div>
        
        <div class="sm:w-full sm:border sm:h-[10%] sm:absolute sm:top-0 sm:grid sm:place-items-center">
        <h2 id="title" class="sm:border sm:rounded-[0px_0px_10px_10px] sm:w-[40%] sm:h-full sm:grid sm:place-items-center">titulo de pelicula</h2>
        </div>

        <div id="movie-info" class="sm:absolute sm:w-[32%] sm:h-[45%] sm:border sm:rounded-[30px] sm:top-[52%] sm:right-[2%]">
        <p class="sm:w-full sm:h-[65%] sm:border sm:rounded-[30px] sm:flex sm:p-2">parrafo</p>
        <div class="sm:w-full sm:h-[35%] sm:flex sm:justify-between sm:items-center">
            <span class="sm:m-[3%] sm:rounded-[100%] sm:bg-red-500 sm:w-[20%] sm:text-center">4</span>
            <div class="sm:mx-4 sm:flex sm:border sm:w-[50%] sm:gap-1">
            <button class="button sm:border sm:w-[50%] sm:rounded-[100%]">♡</button>
            <button class="button sm:border sm:w-[50%] sm:rounded-[100%]" type="submit">◇</button>
            </div>
        </div>
        </div>
        
        <div id="movie-info" class="sm:absolute sm:w-[31%] sm:p-2 sm:h-[35%] sm:border sm:top-[65%] sm:left-[10%] sm:rounded-[30px_30px_00px_0px]">
        about
        </div>
        
        <nav id="nav" class="sm:absolute sm:w-[5%] sm:max-h-[630px] sm:h-[65%] sm:border sm:top-[23%] sm:left-[2%] sm:flex sm:flex-col sm:justify-between">
        <div class="sm:bg-white sm:border sm:rounded-full sm:flex sm:flex-col sm:items-center sm:h-[60%]">
            <button>♤</button>
            <button class="button">♡</button>
            <button class="button">◇</button>
            <button class="button">♧</button>
            <button class="button">⊙</button>
        </div>
        <div>
            <button class="sm:flex sm:flex-col sm:border sm:my-[100%] sm:rounded-full">
            ⊙
            ○
            </button>
        </div>
        </nav>
    </section>