    <section  class="w-full h-full bg-gray-400
            sm:h-screen sm:relative">
<!-- // img de portada  -->
        <div class="w-full border h-[60%]
            sm:h-full">

            <img id="poster" src="#" alt="poster" class="w-full h-full object-cover"/>
        </div>
<!-- //titulo  -->
        <div class="sm:w-full sm:border sm:h-[8%] sm:absolute sm:top-0 sm:grid sm:place-items-center">

            <h2 id="title" class="border text-[2rem]
            sm:rounded-[0px_0px_10px_10px] sm:w-[40%] sm:h-full sm:grid sm:place-items-center">
                titulo de pelicula
            </h2>
        </div>
<!-- //parrafo -->
        <div class="h-[30%] overflow-auto
        sm:absolute sm:w-[25%] sm:h-[30%] border sm:rounded-[30px] sm:top-[65%] sm:right-[1%] sm:flex sm:flex-col sm:justify-between">

            <p id="contexto" class="sm:w-full p-[2%] 
            sm:max-h-[77%] sm:border sm:rounded-[30px] sm:flex sm:p-[4%] sm:overflow-auto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis odit, excepturi minima, ipsa cum voluptatum officia neque sed magnam sint molestias quas quidem, impedit autem quibusdam! Unde neque Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat pariatur excepturi error cumque obcaecati laudantium itaque temporibus dolores atque placeat! Vitae voluptas sit iure nam, minima saepe qui ipsum officiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis odit, excepturi minima, ipsa cum voluptatum officia neque sed magnam sint molestias quas quidem, impedit autem quibusdam! Unde neque Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat pariatur excepturi error cumque obcaecati laudantium itaque temporibus dolores atque placeat! Vitae voluptas sit iure nam, minima saepe qui ipsum officiis.
            </p>

<!-- // Estados-->
            <div class="absolute h-[60%] top-[5%] right-[3%] flex w-[15%] border justify-between flex-col-reverse items-center 
            sm:w-full sm:h-[23%] sm:flex-row sm:static">

                <span id="info-stars" class="rounded-[100%] bg-yellow-300 w-[55px] h-[55px] grid place-items-center text-3xl
                sm:w-[4vh] sm:h-[4vh] sm:text-center sm:m-[3%] ">
                    4
                </span>

                <div id="list-favorito" class="flex items-center flex-col border w-full gap-4
                sm:mx-4 sm:w-[30%] sm:flex-row ">
                    <button id="action-favorito" 
                        class="border w-[55px] h-[55px] rounded-[100%] text-5xl sm:w-[4vh] sm:h-[4vh]">
                        ♡
                    </button>

                    <button id="action-list" class="border w-[55px] h-[55px] rounded-[100%] text-5xl
                    sm:w-[4vh] sm:h-[4vh]">
                        ◇
                    </button>
                </div>
            </div>
        </div>
<!--//contenido adicional  -->
        <div id="reparto" class=" min-h-[20%] p-2 h-[25%] bg-amber-400
        sm:absolute sm:w-[25%] sm:h-[25%] border sm:top-[75%] sm:left-[8%] sm:rounded-[30px_30px_00px_0px]">
        about
        </div>
        <section id="modal_list" class="w-full h-[90%] border fixed top-0 bg-[#11192b1c] flex justify-center items-center hidden">
            <div class="w-[80%] h-[80%] border bg-white  rounded-xl">
                <form id="form-list" class="flex items-center flex-col gap-4 p-3 w-full h-full">
                    <h3 class="text-[2rem] ">Agregar a lista</h3>
                    <label for="newList">Crear nueva lista</label>
                    <div>
                        <input type="text" name="newList" id="newList" placeholder="Crear nueva lista" class="border px-2 rounded-xl "> 
                        <button id="addList" type="button" class="border px-2 rounded-2xl bg-green-400 hover:bg-amber-700">ADD</button>
                    </div>
                    <section id="listBox" class="border rounded p-2 w-[90%] h-[60%] ">
                        Sin lista creadas
                    </section>
                    <button type="submit" class="border p-2 rounded-3xl hover:bg-amber-300">Completo</button>
                </form>
                <button id="btn-close" class="w-[7vh] h-[7vh] text-3xl grid place-content-center absolute top-[15%] right-[11%] border rounded-[100%] bg-red-600">x</button>
            </div>
        </section>
    </section>

    <style>
        #form-list > btn {
            color: white;
            background-color: black;
            padding: 0.5rem; 
            border-radius: 0.75rem; 
            width: auto;
            display: flex;
            align-items: center;
            white-space: nowrap;
            border: 1px solid black;
            margin: 0 0.5rem; 
        }

        btn:hover {
            background-color: #93c5fd;
            color: black;
        }
    </style>

    <script>

        const btnClose = document.getElementById("btn-close");
        const actionList = document.getElementById("action-list");
        const modalList = document.getElementById("modal_list")

        actionList?.addEventListener('click', ()=>{
            modalList?.classList.toggle("hidden");
        })
        btnClose?.addEventListener('click', ()=>{
            modalList?.classList.toggle("hidden")
        })

    </script>