<nav class="w-full border h-[100px] bg-[#9db6db] flex justify-around items-center">
    <a href="#home">
        <div><button></button></div>
        home
    </a>
    <a href="#categorias">
        <div><button></button></div>
        categorias
    </a>
    <a href="#Buscar">
        <div><button></button></div>
        Buscar</a>

    <a href="#listas">
        <div><button></button></div>
        listas</a>

    <a href="#Perfil">
        <div><button></button></div>
        Perfil</a>

</nav>

<style>
    button{
        width: 30px;
        height: 30px;
        border: solid 1px red;
        border-radius: 100%;
    }
    div{
        display: grid;
        align-items: center;
        justify-content: center;
    }
   
</style>