<nav class="fixed bottom-0 z-20 w-full border h-[100px] bg-[#9db6db] flex justify-between items-center
         sm:absolute sm:flex-col sm:top-[23%] sm:w-[5%] sm:left-[2%] sm:h-[65%] sm:max-h-[630px] py-[1%] ">
    <section class="w-full h-full flex justify-around items-center
            sm:flex-col sm:h-auto sm:">
            
        <div data-href="home">
            <button></button>
        </div>
        <div data-href="categorias">
            <button></button>
        </div>
        <div data-href="buscador">
            <button></button>
        </div>
        <div data-href="listas">
            <button></button>
        </div>
        <div data-href="Perfil">
            <button></button>
        </div>
    </section>
    
    
    <button class="hidden
            sm:block">
        *
    </button>
</nav>

<style>
    button{
        margin: 1vh 0 1vh 0;
        width: 30px;
        height: 30px;
        cursor: pointer;
        border: solid 1px red;
        border-radius: 100%;
    }
    div{
        display: grid;
        align-items: center;
        justify-content: center;
    }
   
</style>